
<div class="row">
  <div class="col-xs-10 col-xs-offset-2 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-5 col-lg-offset-4 search-pane">

    <form class="search-form" role="form" >

    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 ">
      <text-input
        place-holder="'Search for a Project here...'"
        on-clear='vm.clearSearch'
        cta="true"
        cta-icon="'fa-search'"
        model='vm.searchString'
        on-click='vm.submitSearch'
      >
      </text-input>
    </div>
    </form>

  </div>
</div>

<div class="row" ng-cloak>

  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-0 major-panel-container">
    <div class="majors-panel">
      <h3>Filter</h3>
      <br>
      <multiselect
        label="'Majors'"
        options="vm.allMajors"
        on-clear='vm.clearSelectedMajors'
        selected="vm.selectedMajors"
        on-click="vm.toggleFilterMajors"
      ></multiselect>

      <multiselect
        label="'Tags'"
        options="vm.allTags"
        on-clear='vm.clearSelectedTags'
        selected="vm.selectedTags"
        on-click="vm.toggleFilterTags"
      ></multiselect>
      
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-1 col-lg-4">
        <discover-projects projects="vm.filteredProjects"></discover-projects>
        <div class="container-fluid">
          <div class="col-sm-12 text-center">
              <button class="btn discover-button" ng-show="vm.canLoadMoreProjects" ng-click="vm.lazyLoad()">Load More</button>
          </div>
       </div>
  </div>


<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-project"
  href="/new-project"
  ng-show="vm.isActivated"
  ></a>

<a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-project"
  href="javascript:void(0)"
  ng-hide="vm.isActivated"
  ng-dialog="/static/templates/projects/must-be-activated.html"
  ng-dialog-controller="NewProjectController as vm"
  ></a>
