<div particles-drv></div particles-drv>

<header class="homepage">
	<div class="homepage-body">
		<div class="container d-flex align-items-center h-100">
		    <div class="row justify-content-center">
		        <div class="col-md-12">
		            <h1><span>PROJECT</span>HUB</h1>
		            <h2>We connect collaborators on everything: <br> startups, academic projects, research, and more.</h2>
		            <a href='/register'><button type="button" class="btn btn-primary btn-lg register-button">Register</button></a>
		            <a href='/discover'><button type="button" class="btn btn-primary btn-outline-danger btn-lg discover-button">Discover</button></a>
		        </div>
		    </div>
		</div>
	</div>
</header>