<!-- <div id="particles-js"></div> -->
<div class="homepage">
	<div class="container">
	    <div class="row">
	        <div class="col-md-10 col-md-offset-1">
	            <h1><span>PROJECT</span>HUB</h1>
	            <h2>We connect collaborators on everything, <br> from startups to academic projects to research.</h2>
	            <a href='/register'><button type="button" class="btn btn-primary btn-lg register-button">Register</button></a>
	            <a href='/discover'><button type="button" class="btn btn-primary btn-outline-danger btn-lg discover-button">Discover</button></a>
	        </div>
	    </div>
	</div>
</div>