<div class="row" ng-cloak>
	<!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div> -->

  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-lg-4 col-md-offset-0 col-lg-offset-0">
	<div class="profile profile-panel profile__header" ng-show="vm.profile">

	  	<div class="profile__header">

			<h1 class="profile__username">{{ vm.profile.first_name }} {{ vm.profile.last_name }}</h1>
			<h2 class="profile__username">@{{ vm.profile.username }}</h2>

			<br>
			<!-- <p class="profile__tagline" ng-bind-html>{{ vm.profile.tagline }} | linky</p> -->
			<p class="profile__tagline" ng-bind-html="vm.profile.tagline | linky"></p>

			<a href='mailto:{{ vm.profile.email }}'>
				<i class="fa fa-envelope" aria-hidden="true"></i>
				{{ vm.profile.email }}
			</a>

		</div>

		<div class="edit-project" ng-show="vm.isUserOwnerOfProject">
			<i class="fa fa-3x fa-cog" aria-hidden="true" ng-click="vm.viewSettings()"></i>
		</div>

	</div>
  </div>


  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-0 col-lg-offset-0">
		<discover-projects projects="vm.projects"></discover-projects>
  </div>
</div>
