<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="form-text-title">Settings</h1>

    <div class="well login-no-shadow" ng-show="vm.profile">

      <form role="form" class="settings" ng-submit="vm.update()">

        <div class="text-center" ng-hide="vm.is_confirmed">
          <h4>You haven't activated your account yet.</h4>
          <button type="button" class="btn discover-button" ng-click="vm.resendConfirmation()">Re-send email</button>
        </div>

        <br><br>

          <text-input
            label="'First Name'"
            error="vm.missing_firstname"
            type="'text'"
            id="settings__first_name"
            model="vm.profile.first_name"
            onClear="vm.clearFirstName"
          >
          </text-input>

          <text-input
            label="'Last Name'"
            error="vm.missing_lastname"
            type="'text'"
            id="settings__last_name"
            model="vm.profile.last_name"
            onClear="vm.clearLastName"
          >
        </text-input>

        <text-input
          label="'Email'"
          disabled="true"
          type="'text'"
          id="settings__email"
          model="vm.profile.email"
        ></text-input>

       <text-input
          label="'Username'"
          type="'text'"
          id="settings__usename"
          model="vm.profile.username"
          disabled="true"
        ></text-input>

       <text-input
          label="'Tag Line'"
          type="'text'"
          id="settings__tagline"
          model="vm.profile.tagline"
          onCLear="vm.clearTagline"
        ></text-input>

        <h4 class="text-center"><a href='/+{{vm.profile.username}}'>View profile</a></h4>

        <div class="form-group text-center">
          <button type="submit" class="btn discover-button">Update</button>
          <button type="button" class="btn red-button" ng-click="vm.destroy()">Delete Account</button>
        </div>
      </form>

    </div>
  </div>
</div>