.projecthub-text-input-container {
  white-space: nowrap; }
  .projecthub-text-input-container .projecthub-text-input {
    margin: 0;
    padding-left: 2.5%;
    padding-right: calc(10px + 10%);
    height: 60px;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    background-color: #f5f6f7;
    width: 100%;
    cursor: inherit; }
    .projecthub-text-input-container .projecthub-text-input.disabled {
      cursor: not-allowed;
      border: dashed;
      border-width: 1px; }
  .projecthub-text-input-container .projecthub-text-area {
    resize: vertical;
    min-height: 60px;
    padding-top: 2.5%;
    padding-left: 2.5%;
    padding-right: calc(10px + 10%);
    margin: 0;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    background-color: #f5f6f7;
    width: 100%;
    cursor: inherit; }
    .projecthub-text-input-container .projecthub-text-area.disabled {
      cursor: not-allowed;
      border: dashed;
      border-width: 1px; }
  .projecthub-text-input-container .input-clear-button {
    background: transparent;
    position: absolute;
    border: none;
    color: #0277bd;
    right: 5%;
    width: 30px;
    height: 60px;
    outline: none; }

.multiselect-container {
  cursor: pointer; }
  .multiselect-container .project-hub-multi-select-list {
    list-style: none;
    overflow-y: scroll;
    max-height: 300px;
    min-width: 300px;
    padding: 0px;
    border-radius: 11px; }
    .multiselect-container .project-hub-multi-select-list .projecthub-multi-select-option {
      height: auto;
      vertical-align: middle;
      font-size: 14px;
      padding-bottom: 30px;
      color: #0277bd;
      background: white; }
      .multiselect-container .project-hub-multi-select-list .projecthub-multi-select-option.active i {
        color: #0277bd; }
      .multiselect-container .project-hub-multi-select-list .projecthub-multi-select-option .projecthub-multi-select-option-content {
        padding: 0px;
        padding-left: 5px; }
