.projecthub-text-input-container {
  white-space: nowrap; }
  .projecthub-text-input-container .projecthub-text-input {
    margin: 0;
    padding: 0;
    height: 60px !important;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    background-color: #f5f6f7;
    width: 100%; }
  .projecthub-text-input-container .input-clear-button {
    background: transparent;
    position: absolute;
    border: none;
    color: #0277bd;
    right: 5%;
    width: 30px;
    height: 60px;
    outline: none; }

.project-hub-multi-select-list {
  list-style: none;
  overflow-y: scroll;
  max-height: 300px;
  padding: 20px;
  border-radius: 11px; }
  .project-hub-multi-select-list .projecthub-multi-select-option {
    height: 50px;
    padding-top: 15px;
    margin-bottom: 5px;
    color: #0277bd;
    background: white; }
    .project-hub-multi-select-list .projecthub-multi-select-option.active {
      color: #d6e6ff;
      background: #0277bd; }
