/**
 * Discover.scss
 * Styles the discover page and all components unique to it.
 *
 * @author Ben Bianchi
 *
 */
.search-pane {
  padding-bottom: 10px; }
  .search-pane .search-form div {
    padding: 0; }
  .search-pane .search-form .btn {
    margin: 0;
    height: 60px; }
  .search-pane .search-form .no-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 20px;
    width: 100%; }
  .search-pane .search-form .search-input {
    margin: 0;
    padding: 0;
    height: 60px !important;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    background-color: #f5f6f7;
    width: 100%; }

.inline {
  display: inline; }

.major-panel-container {
  z-index: 9999; }
  .major-panel-container h3 {
    margin-bottom: 0px; }
  .major-panel-container .majors-panel {
    border: #687685 solid 1px;
    border-radius: 10px;
    /*margin-bottom: 10px;*/
    padding-left: 15px;
    padding-right: 15px;
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
    /*margin-top: 10px;*/ }
    .major-panel-container .majors-panel .major-pills {
      margin-left: 10px;
      border-left: #0277bd solid 1px; }
      .major-panel-container .majors-panel .major-pills .major-list-item {
        padding-left: 10px; }
