/**
 * styles.scss
 *
 * @author Ben Bianchi
 *
 * Main file that is used to compile all scss into a css that is renderable in the browser.
 *
 *
 */
/**
 * Discover.scss
 * Styles the discover page and all components unique to it.
 *
 * @author Ben Bianchi
 *
 */
.search-pane {
  padding-bottom: 10px; }
  .search-pane .search-form div {
    padding: 0; }
  .search-pane .search-form .btn {
    margin: 0;
    height: 60px; }
  .search-pane .search-form .no-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    margin-bottom: 20px;
    width: 100%; }
  .search-pane .search-form .search-input {
    margin: 0;
    padding: 0;
    height: 60px !important;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    background-color: #f5f6f7;
    width: 100%; }

.inline {
  display: inline; }

.majors-panel {
  border: #687685 solid 1px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 40px;
  margin-top: 10px; }
  .majors-panel .major-pills {
    margin-left: 10px;
    border-left: #0277bd solid 1px; }
    .majors-panel .major-pills .major-list-item {
      padding-left: 10px; }

.projecthub-text-input-container {
  white-space: nowrap; }
  .projecthub-text-input-container .projecthub-text-input {
    margin: 0;
    padding: 0;
    height: 60px !important;
    border: #0277bd solid;
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    background-color: #f5f6f7;
    width: 100%; }
  .projecthub-text-input-container .input-clear-button {
    background: transparent;
    position: absolute;
    border: none;
    color: #0277bd;
    right: 5%;
    width: 30px;
    height: 60px;
    outline: none; }

.project-hub-multi-select-list {
  list-style: none;
  overflow-y: scroll;
  max-height: 300px;
  padding: 20px;
  border-radius: 11px; }
  .project-hub-multi-select-list .projecthub-multi-select-option {
    height: 50px;
    padding-top: 15px;
    margin-bottom: 5px;
    color: #0277bd;
    background: white; }
    .project-hub-multi-select-list .projecthub-multi-select-option.active {
      color: #d6e6ff;
      background: #0277bd; }

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; }

a {
  color: #0277bd; }

/* for styling particles.js */
.backdrop {
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  position: fixed;
  /* important for particles to work!!! */
  top: 0;
  z-index: -999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

/* Homepage */
html {
  height: calc(100% - 40px);
  width: 100%; }

body {
  height: calc(100% - 40px);
  width: 100%;
  font-family: 'Avenir',Helvetica,Arial,sans-serif;
  color: #3B434C;
  background-color: white;
  font-size: 16px; }
  body h1 {
    font-size: 40px;
    color: #3B434C;
    font-weight: 400;
    letter-spacing: 2px; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Avenir',Helvetica,Arial,sans-serif; }
  body p {
    color: #687685;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px; }

label {
  color: #3B434C;
  font-weight: 500; }

.about-text {
  margin-bottom: 40px; }
  .about-text p {
    font-size: 18px; }

.main {
  height: 100%;
  width: 100%; }

.homepage {
  display: table;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .homepage .homepage-body {
    /*  height: 100%;
    width: 100%;*/
    display: table-cell;
    /*position: relative;*/
    vertical-align: middle; }
  .homepage h1 {
    color: #0277bd;
    font-weight: 400;
    font-size: 8.7vw; }
  .homepage span {
    color: #687685; }
  .homepage h2 {
    color: #687685;
    font-weight: 300;
    font-size: 3.5vh;
    padding-top: 30px;
    padding-bottom: 50px; }

.pull-right {
  right: 0px; }

.pull-left {
  left: 0px; }

.btn {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: none !important;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  font-size: 16px;
  font-weight: 700 !important;
  letter-spacing: 3px; }
  .btn:hover, .btn:focus {
    opacity: .7;
    transform: scale(1.05); }

.discover-button {
  color: #0277bd !important;
  background-color: transparent !important;
  border: 2px solid #0277bd; }

.register-button {
  color: #687685 !important;
  background-color: transparent !important;
  border: 2px solid #687685; }

.red-button {
  color: #d32323 !important;
  background-color: transparent !important;
  border: 2px solid #d32323; }

/* /register */
body .login-no-shadow {
  box-shadow: none; }

.form-control, .form-control:focus {
  padding: 10px;
  min-height: 3em !important;
  border-style: solid;
  border-width: 1px !important;
  border-color: #C5CBD2 !important;
  border-radius: 3px !important;
  margin-bottom: 25px;
  resize: vertical; }

.show-hide-password {
  float: right;
  text-align: right; }

.form-text-title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px; }

.error-span {
  color: red;
  font-style: italic; }

.agreement-label {
  font-weight: 200;
  cursor: pointer; }

input.agreement-checkbox {
  margin-right: 10px;
  cursor: pointer; }

/* Profile */
.profile__header h1 {
  font-size: 30px; }

.profile__header h2 {
  font-size: 20px;
  font-weight: 400;
  color: #c3c3c3; }

.profile__header p {
  font-size: 16px; }

.profile__header a {
  font-size: 16px; }

.profile-panel {
  border: #687685 solid 1px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
  margin-top: 20px; }
  .profile-panel .major-pills {
    margin-left: 10px;
    border-left: #0277bd solid 1px; }
    .profile-panel .major-pills .major-list-item {
      padding-left: 10px; }

/* Individual Project */
.edit-project {
  text-align: right; }
  .edit-project .fa {
    color: #0277bd;
    padding-top: 5px;
    padding-right: 15px;
    font-size: 2em;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    cursor: pointer; }
    .edit-project .fa:hover, .edit-project .fa:focus {
      opacity: .7;
      transform: scale(1.2);
      cursor: pointer; }

.project {
  border-bottom: #687685 solid 1px;
  padding-bottom: 40px;
  padding-top: 40px; }
  .project .project__meta {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding-bottom: 19px; }
    .project .project__meta a {
      font-size: 24px; }
  .project .project__content {
    padding-bottom: 20px;
    font-size: 15px; }
  .project .project__author {
    text-align: right; }
  .project a.author {
    font-weight: bold;
    text-align: right; }
  .project .project__required {
    font-weight: bold;
    font-size: 15px; }
  .project .project__location {
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px; }
    .project .project__location .fa {
      padding-right: 10px;
      font-size: 1em;
      color: #687685; }
  .project .project__major {
    border-radius: 5px;
    background: #d6e6ff;
    display: inline-block;
    padding: 3px 10px 3px 10px;
    color: #5e81ba;
    font-weight: normal; }
  .project .project-footer {
    margin-top: 10px;
    padding-top: 10px;
    height: 50px; }

/* new-project */
.new-project {
  padding: 20px;
  font-family: 'Avenir',Helvetica,Arial,sans-serif; }
  .new-project h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Avenir',Helvetica,Arial,sans-serif; }
  .new-project label {
    /*padding-top: 30px;*/ }

/* DiscoverProjects */
.no-projects-here {
  text-align: center; }

.btn-add-new-project {
  position: fixed;
  bottom: 20px;
  right: 20px; }

/* Navbar */
/* See https://stackoverflow.com/questions/18529274/
   change-navbar-color-in-twitter-bootstrap-3 */
/* navbar */
.navbar-default {
  background-color: #0277bd;
  border-color: #0277bd; }
  .navbar-default .navbar-brand {
    color: white; }
  .navbar-default .navbar-nav li a {
    color: white; }
  .navbar-default .navbar-brand:hover {
    color: #e0e0e0; }

/* DiscoverProjects */
.no-projects-here {
  text-align: center; }

.btn-add-new-project {
  position: fixed;
  bottom: 20px;
  right: 20px; }

/* Navbar */
/* See https://stackoverflow.com/questions/18529274/
     change-navbar-color-in-twitter-bootstrap-3 */
/* navbar */
.navbar-default {
  background-color: #0277bd;
  border-color: #0277bd; }
  .navbar-default .navbar-brand {
    color: white; }
  .navbar-default .navbar-nav li a {
    color: white; }
  .navbar-default .navbar-brand:hover {
    color: #e0e0e0; }
  .navbar-default .navbar-nav li a:hover {
    color: #e0e0e0; }

/* Title */
/*.navbar-default .navbar-brand {
      color: #777;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
      color: #5E5E5E;
  }
  */
/* Link */
/*.navbar-default .navbar-nav > li > a {
      color: #777;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
      color: #333;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      color: #555;
      background-color: #E7E7E7;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
      color: #555;
      background-color: #D5D5D5;
  }
  */
/* Caret */
/*.navbar-default .navbar-nav > .dropdown > a .caret {
      border-top-color: #777;
      border-bottom-color: #777;
  }
  */
