<h1 class="form-text-title">About ProjectHub</h1>

<div class="container">
  <div class="row about-text">
	<!-- <div class="col-md-4"></div> -->
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<p>ProjectHub is an initiative started in 2017 that aims to connect collaborators on all kinds of projects, from startups to academic projects to research. Currently, the system for finding projects or recruiting is to spam large email alias and pray for the best. </p>
		<p>We’re building a simple, generic, and extensible platform where students and professors can search for interesting projects or potential collaborators, opening first at WPI and then to other schools as well.</p>
	</div>
  </div>

  <div class="row about-text text-center">
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<a href='mailto:nsbradford+projecthub-contact@gmail.com'><button type="button" class="btn discover-button">Contact</button></a>
		<a href='mailto:nsbradford+projecthub-support@gmail.com'><button type="button" class="btn register-button">Support</button></a>
	</div>
  </div>

  <div class="row text-center">
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<p><a href="/policies/terms-of-service">ProjectHub Terms of Use</a></p>
	</div>
  </div>

</div>



