<h1 class="form-text-title">About ProjectHub</h1>

<div class="container">
  <div class="row about-text">
	<!-- <div class="col-md-4"></div> -->
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<p>ProjectHub started in 2017 to connect collaborators on all kinds of projects: startups, academic projects, research, and more.</p>

		<p>Currently, students or professors trying to find interesting work or recruit teammates are limited to spamming large email aliases and hoping for the best. That's terrible for everyone; you're inundated with irrelevant material, and there's no searchable centralized repository for when you decide to go looking.</p>

		<p>Instead, ProjectHub provides a simple, generic, and flexible platform where anyone can search for projects or collaborators. We're opening first at WPI, and will be expanding soon.</p>
	</div>
  </div>

  <div class="row about-text text-center">
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<a href='mailto:nsbradford+projecthub-contact@gmail.com'><button type="button" class="btn discover-button">Contact</button></a>
		<a href='mailto:nsbradford+projecthub-support@gmail.com'><button type="button" class="btn register-button">Support</button></a>
	</div>
  </div>

  <div class="row text-center">
	<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
		<p><a href="/policies/terms-of-service">ProjectHub Terms of Use</a></p>
	</div>
  </div>

</div>



