<div class="multiselect-container">
    <text-input
      label="$ctrl.label"
      place-holder="'Click To Select'"
      model="$ctrl.selected"
      read-only="true"
      ng-click="$ctrl.onActivate()"
      on-clear='$ctrl.onClear'
      id="'major_multiselect'"
      ctaIcon="'angle-down'">
  </text-input>
  <div>
      <ul
        class="project-hub-multi-select-list"
        ng-show="$ctrl.isActive"
      >
          <li
            class="projecthub-multi-select-option"
            ng-repeat="option in $ctrl.options"
            ng-click="$ctrl.onClick(option)"
            ng-class="{'active': option.active }"
          >

            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 projecthub-multi-select-option-content">
                {{option.title}}
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <i ng-class="{'fa fa-check': option.active }"></i>
            </div>

          </li>
      </ul>
  </div>
</div>