@import 'variables.scss';

.projecthub-text-input-container {
    white-space: nowrap;

    .projecthub-text-input {
        margin:0;
        padding: 0;
        height:60px !important;
        border: $brand-primary solid;
        border-width: 1px;
        border-radius: 2px;
        padding: 10px;
        background-color: lighten($brand-secondary, 50);
        width: 100%;
    }
    .input-clear-button {
        background: transparent;
        position: absolute;
        border: none;
        color: $brand-primary;
        right: 5%;
        width: 30px;
        height: 60px;
        outline: none;
    }
}

.project-hub-multi-select-list{
    list-style: none;
    overflow-y: scroll;
    max-height: 300px;
    padding: 20px;
    border-radius: 11px;

    .projecthub-multi-select-option{
        height: 50px;
        padding-top: 15px;
        margin-bottom: 5px;
        color: $brand-primary;
        background: white;

        &.active {
            color: $brand-light;
            background: $brand-primary;
        }
    }
}