@import 'variables.scss';

.projecthub-text-input-container {
    white-space: nowrap;

    .projecthub-text-input {
        margin:0;
        padding-left: 2.5%;
        padding-right: calc(10px + 10%);
        height:60px;
        border: $brand-primary solid;
        border-width: 1px;
        border-radius: 2px;
        background-color: lighten($brand-secondary, 50);
        width: 100%;
        cursor: inherit;
        // font-size: 14px;
        &.disabled {
            cursor: not-allowed;
            border: dashed;
            border-width: 1px;
        }
    }
    .projecthub-text-area {
        resize: vertical;
        min-height: 60px;
        padding-top: 2.5%;
        padding-left: 2.5%;
        padding-right: calc(10px + 10%);
        margin:0;
        border: $brand-primary solid;
        border-width: 1px;
        border-radius: 2px;
        background-color: lighten($brand-secondary, 50);
        width: 100%;
        cursor: inherit;
        // font-size: 14px;
        &.disabled {
            cursor: not-allowed;
            border: dashed;
            border-width: 1px;
        }
    }
    .input-clear-button {
        background: transparent;
        position: absolute;
        border: none;
        color: $brand-primary;
        right: 5%;
        width: 30px;
        height: 60px;
        outline: none;
    }
}

.multiselect-container {
    cursor: pointer;

        .project-hub-multi-select-list{
        list-style: none;
        overflow-y: scroll;
        max-height: 300px;
        min-width: 300px;
        padding: 0px;
        border-radius: 11px;

        .projecthub-multi-select-option {
            height: auto;
            vertical-align: middle;
            font-size: 14px;
            padding-bottom: 30px;
            color: $brand-primary;
            background: white;
            &.active {
                i {
                    color: $brand-primary;
                }
            }

            .projecthub-multi-select-option-content {
                padding: 0px;
                padding-left: 5px;
            }
        }
    }
}