/**
 * Discover.scss
 * Styles the discover page and all components unique to it.
 *
 * @author Ben Bianchi
 *
 */

 @import 'variables';

.search-pane {
    padding-bottom: 10px;

    .search-form {

        div{
            padding: 0;
        }
        .btn {
            margin: 0;
            height:60px;
        }

        .no-wrap{
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            margin-bottom: 20px;
            width:100%;
        }
        .search-input{
            margin:0;
            padding: 0;
            height:60px !important;
            border: $brand-primary solid;
            border-width: 1px;
            border-radius: 2px;
            padding: 10px;
            background-color: lighten($brand-secondary, 50);
            width: 100%;
        }
    }
}

.inline{
    display: inline;
}

.major-panel-container {

    h3 {
    }

    z-index: 9999; // This z index is needed so that our jquery onclick listeners work on
                   // Smaller Screens

    .majors-panel{
        border: $brand-secondary solid 1px;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 20px;

        .major-pills {
            margin-left: 10px;
            border-left: $brand-primary solid 1px;

            .major-list-item {
                padding-left: 10px;
            }
        }

    }
}