<!DOCTYPE html>
<html ng-app="projecthub">
<head>
  <title>ProjectHub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <base href="/" />

<!-- For Facebook -->
  <meta property="og:title" content="ProjectHub">
  <meta property="og:url" content="http://www.goprojecthub.com/">
  <meta property="og:type" content="website">
  <meta property="og:description" content="We connect collaborators on everything: startups, academic projects, research, and more.">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79885738-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-79885738-2');
  </script>

  {% include 'stylesheets.html' %}
</head>

<body>
  {% include 'navbar.html' %}

  <div class="main col-xs-12 ng-view"></div>

  {% include 'javascripts.html' %}
</body>
</html>
