{% load compress %}
{% load staticfiles %}

<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'snackbarjs/snackbar.min.css' %}" />
<!-- 
<link rel="stylesheet" href="static/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css"> -->

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/styles.css' %}" />
{% endcompress %}
