<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="form-text-title">Edit Project</h1>

    <div class="well login-no-shadow" ng-show="vm.project">

      <form role="form" class="settings" ng-submit="vm.update()">

        <div class="form-group">
          <label for="project__title">Title</label>
          <input type="text" class="form-control" id="project__title" ng-model="vm.project.title" placeholder="ex. john@example.com" />
        </div>

        <div class="form-group">
          <label for="project__description">Description</label>
          <textarea type="text" class="form-control" id="project__description" ng-model="vm.project.description" />
        </div>
<div class="form-group">
  <select class="form-control"
  id="project__majors"
  multiple
  rows="3"
  placeholder="'CS'"
  ng-model="vm.project.majors">
  <option ng-repeat="major in vm.allMajors" ng-value="major.title">{{major.title}}</option>
</select>
</div>
        <div class="form-group">
          <label for="settings__tagline">Tagline</label>
          <textarea class="form-control" id="settings__tagline" ng-model="vm.profile.tagline" placeholder="ex. Computer Science student @ WPI who loves front-end design!" />
        </div>

        <div class="form-group text-center">
          <h4><a href='/projects/+{{vm.project.id}}/'>View project</a></h4>
          <button type="submit" class="btn discover-button">Update</button>
          <button type="button" class="btn red-button" ng-click="vm.destroy()">Delete Project</button>
        </div>
      </form>
    </div>
  </div>
</div>