<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="form-text-title">Edit Project</h1>

    <div class="well login-no-shadow" ng-show="vm.project">

      <form role="form" class="settings" ng-submit="vm.update()">

        <text-input
          error='vm.missing_title'
          id="'title-input'"
          label="'Title'"
          place-holder="'Algorithmic trading with Python'"
          model="vm.project.title"
          on-clear="vm.clearTitle"
        ></text-input>

        <text-input
          error='vm.missing_description'
          id="'description-input'"
          label="'Description'"
          place-holder="'This is your big chance to get rich!'"
          model="vm.project.description"
          on-clear="vm.clearDescription"id
        ></text-input>

        <!-- <div class="form-group"> -->
          <multiselect
            options="vm.allMajors"
            label="'Majors'"
            selected="vm.selectedMajors"
            on-click="vm.toggleFilterMajors"
            on-clear="vm.clearMajors"
          ></multiselect>

          <multiselect
            options="vm.allTags"
            label="'Tags'"
            selected="vm.selectedTags"
            on-click="vm.toggleFilterTags"
            on-clear="vm.clearTags"
          ></multiselect>


        <div class="form-group text-center">
          <h4>
            <a href='/projects/+{{vm.project.id}}/'>View project</a>
          </h4>
          <button type="submit" class="btn discover-button">Update</button>
          <button type="button" class="btn red-button" ng-click="vm.destroy()">Delete Project</button>
        </div>
      </form>
    </div>
  </div>
</div>