<form class="new-project" role="form" ng-submit="vm.submit()">
  <h1>New Project</h1>
  <div class="container">

    <div class="
    col-xs-offset-0 col-xs-12
    col-sm-offset-2 col-sm-8
    col-md-offset-3 col-md-6
    col-lg-offset-4 col-lg-4">

      <div class="form-group">

        <text-input
          error='vm.missing_title'
          id="'title-input'"
          label="'Title'"
          place-holder=""
          model="vm.title"
          on-clear="vm.clearTitle"
        ></text-input>

        <text-input
          error='vm.missing_description'
          id="'description-input'"
          label="'Description'"
          place-holder=""
          model="vm.description"
          on-clear="vm.clearDescription"
        ></text-input>

        <multiselect
          label="'Majors'"
          options="vm.allMajors"
          selected="vm.selectedMajors"
          on-click="vm.toggleFilterMajors"
          on-clear="vm.clearMajors"
        ></multiselect>

        <multiselect
          label="'Tags'"
          options="vm.allTags"
          selected="vm.selectedTags"
          on-click="vm.toggleFilterTags"
          on-clear="vm.clearTags"
        ></multiselect>
      </div>

      <div class="form-group text-center">
        <button type="submit" class="btn discover-button">
          Create
        </button>
      </div>

    </div> <!--column-->
  </div> <!--container-->
</form>