<form class="new-project" role="form" ng-submit="vm.submit()">
  <h1>New Project</h1>
  <div class="form-group">

    <text-input
      error='vm.missing_title'
      id="'title-input'"
      label="'Title'"
      place-holder="'Algorithmic trading with Python'"
      model="vm.title"
      on-clear="vm.clearTitle"
    ></text-input>

    <text-input
      error='vm.missing_description'
      id="'description-input'"
      label="'Description'"
      place-holder="'This is your big chance to get rich!'"
      model="vm.description"
      on-clear="vm.clearDescription"
    ></text-input>

    <label for="project__majors">Majors</label>
    <br>
    <!--     <input type="checkbox" name="majors" value="CS">CS <br>
    <input type="checkbox" name="vehicle" value="RBE">RBE -->
    <select class="form-control"
              id="project__majors"
              multiple
              rows="5"
              placeholder="'CS'"
              ng-model="vm.majors">
              <option ng-repeat="major in vm.allMajors" ng-value="major.title">{{major.title}}</option>
    </select>

  </div>

  <div class="form-group text-center">
    <button type="submit" class="btn discover-button">
      Create
    </button>
  </div>
</form>