<div class="row">
  <div class="col-sm-12">
      <div class="project">

        <div class="project__meta">
            <a href="/projects/+{{project.id}}">{{ project.title }}</a>
        </div>

        <div class="project__content" ng-bind-html="project.description | linky"></div>

        <div class="project__required">
          Majors:
          <div ng-repeat="major in project.majors" class="project__major">
            {{ major }}
          </div>
          <br>
          Tags:
          <div ng-repeat="tag in project.tags" class="project__major">
            {{ tag }}
          </div>

          <!-- <div class="project__location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Worcester, MA
          </div> -->

          <!-- <div class="project__location">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            3 hours/week for 6 months
          </div> -->
        </div>

        <div class="project__author">

          <!-- ngShow="project.author.username == vm.user.username" -->
<!--           <div style="display: inline-block" >
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <i ng-click="vm.deleteProject()" class="fa fa-trash-o" aria-hidden="true"></i>
          </div> -->
          <div class="project-footer" >
            <span class="pull-left">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              Created {{ project.created_at | amCalendar:referenceTime:formats }}
            </span>

            <span class="pull-right">
              <a class="author" href="/+{{ project.author.username }}">
              {{ project.author.first_name }} {{ project.author.last_name }}
            </a>
          </span>
          </div>

        </div>

      </div>
  </div>
</div>