<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <h1 class="form-text-title">Login to ProjectHub</h1>


    <div class="well login-no-shadow">
      <form role="form" ng-submit="vm.login()">

        <div class="form-group">
          <label for="login__email">Email</label>
          <text-input
            model="vm.email"
            on-clear="vm.clearEmail"
            >
          </text-input>
        </div>

        <div class="form-group">
          <label for="login__password">Password</label>

          <span class="show-hide-password">
            <input type="checkbox" id="checkbox" class="agreement-checkbox" tabindex="-1" ng-model="passwordCheckbox" ng-click="vm.hideShowPassword()"/>
            <label class="agreement-label" for="checkbox">Show password</label>
          </span>

          <text-input
            type="vm.inputType"
            model="vm.password"
            on-clear="vm.clearPassword"
          />
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn discover-button">Login</button>
        </div>
      </form>

      <h4 class="text-center"><br>Not a member yet? <a href='/register/'>Join here</a>.</h4>
    </div>
  </div>
</div>