<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <h1 class="form-text-title">Register for ProjectHub</h1>

    <div class="well login-no-shadow">
      <form role="form" ng-submit="vm.register()">
        <div class="row">
          <text-input
            error="vm.missing_email"
            id="'email-input'"
            label="'Email'"
            model="vm.email"
            on-clear="vm.clearEmail"
          ></text-input>

          <text-input
            error="vm.missing_usernmae"
            id="'username-input'"
            label="'Username'"
            type="'text'"
            model="vm.username"
            on-clear="vm.clearUsername"
          ></text-input>

          <text-input
            error="vm.missing_firstname"
            id="'firstname-label'"
            label="'First Name'"
            type="'text'"
            model='vm.firstname'
            on-clear="vm.clearFirstname"
          >
          </text-input>

          <text-input
            error="vm.missing_lastname"
            id="'lastname-input'"
            label="'Last Name'"
            type="'text'"
            model="vm.lastname"
            on-clear="vm.clearLastname"
          >
          </text-input>

          <div class="row">
            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6">
              <label>Password</label>
            </div>

            <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6">
              <span class="show-hide-password">
                <input type="checkbox" class="" id="checkbox" tabindex="-1" ng-model="passwordCheckbox" ng-click="vm.hideShowPassword()" />
                <label class="agreement-label" for="checkbox">Show password</label>
              </span>
            </div>
          </div>

          <text-input
            error="vm.mising_password"
            id="'password-input'"
            type="vm.inputType"
            model="vm.password"
            place-holder=""
            on-clear="vm.clearPassword">
          </text-input>

          <div class="form-group">
            <input type="checkbox" class="agreement-checkbox" id="register__agreement" ng-model="vm.agreement">
            <label class="agreement-label" for="register__agreement">
              I accept the <a href="/policies/terms-of-service" target="_blank" tabindex="-1">Terms of Use</a>.
            </label>
            <span ng-show='vm.missing_agreement' class='error-span'> required</span>
          </div>

        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn discover-button">Register</button>
        </div>

      </form>

      <h4 class="text-center"><br>Already a member? <a href='/login'>Login</a>.</h4>

    </div>
  </div>
</div>